/* -- admin and other work pages background-- */
*{
    padding: 0;
    margin: 0;
}
*:hover{
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
}
.navbar-bg{
    background-color: #333;
    border-radius: 10px;
    border: 0px;
}
div{
    box-sizing: border-box;
}
/* ------------panel and othor ------------------ */
.navbar-brand{
    background-color: #d14242;
    width: 240px;
    padding: 19px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}
.navbar{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.panel-logo, .panel-text{    
    /* text-align: center; */
    font-size: 1em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    line-height: 50px;
    color: rgb(0,188,212) !important;
    font-weight: 600;
    height: 90px;
    padding-top: 30px;
    overflow: hidden;
}
.panel-text>p{
    display: flex;
}
.panel-logo a, .panel-text a{
    display: block;
    width: 100%;
    color: #fff;
    background-color: rgba(255, 255, 255, 0) !important;
}
.panel-logo .text span{
    color: rgb(0,188,212);  
}
body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    z-index: -100;
}
.side_nav{
    width: 240px;
    min-height: calc(100% - 68px);
    background-color: transparent;
    position: fixed;    
    top: 68px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 5000;
    padding: 0;
    margin: 0;
} 
.side_nav::-webkit-scrollbar {
    width: 0px;  
    background: transparent; 
}
.navbar{
    background-color: rgb(0,188,212) !important;
}
.first-container {
    width: 50px;
    height: 100%;
    position: absolute;
    text-align: center;
    left: 0%;
    z-index: 5000;
    background: linear-gradient(rgb(63, 58, 58),rgb(49, 114, 126));
}
section .first-container ul{
    width: 100%;
    margin: 0 auto;
    list-style-type: none;    
    margin-bottom: 30px;
}
section .first-container ul li a{
    display: block;
    height: 45px;
    font-size: 14px;
    font-weight: 400;
    /* color: #333; */
    line-height: 45px;
    color: #fff !important;
}
section .first-container ul li:hover a, section .first-container ul li:hover i,section .first-container ul li:active a, section .first-container ul li:active i{
    color: rgb(0,188,212);
}
.sec-container {
    width: 190px;
    height: 100%;
    background-color: rgb(0,188,212);
    position: absolute;
    z-index: 4099;
    display: none;
    left: 50px;
}
section .sec-container ul{
    width: 100%;
    margin: 0 0;
    list-style-type: none;
}
section .sec-container ul li{
    width: 100%;
    position: relative;
    overflow: hidden;
}
section .sec-container ul li a{
    display: block;
    width: 100%;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    font-weight: 400;
    color: #fff;
    padding-left: 30px;
}
section .sec-container ul li a:hover::before{
    content: "";
    position: absolute;
    left: -15px;
    bottom: 7px;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: rgb(0,188,212);
    overflow: hidden;
}
section .sec-container ul li a span{
    padding: 0px;
}
section .sec-container ul li:hover a, section .sec-container ul li:hover i,section .sec-container ul li:active a, section .sec-container ul li:active i{
    color: #fff;
}
.close{
    text-align: center;
    opacity: 1 !important;
    font-size: 14px;
    color: #fff;
    float: none;
} 
.first-container>hr,.sec-container>hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}
/* --------------functionality of mobile view------------------ */
@media (min-width: 768px){
    body, nav{
        /* padding-left: 5%; */
    }
    .first-container {
        /* width: 5%; */
    }
    .sec-container {
        /* width: 25%; */
        display: block;
    }
}
@media (min-width: 900px){
    .first-container {
        /* width: 5%; */
    }
    .sec-container {
        /* left: 5%; */
        /* width: 25%; */
        display: block;
    }
}
@media (min-width: 768px){
    .navbar-bg{
        background-color: rgba(255, 255, 255, 0) !important;
    }
}
@media (max-width: 630px){
    .navbar-brand{
        width: 190px;
    }
    .first-container,.sec-container{
        border-top: 1px solid rgba(17, 2, 2,0.1);
        box-shadow: 0 -2px 5px 0 rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.12)
    }
    .sec-container{
        border-top: 1px solid rgba(17, 2, 2,0.1);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
    }
}
@media (max-width: 470px){
    .navbar-brand{
        width: 100%;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar{
        padding: 0;
    }
    .navbar-nav{
        padding-right: 16px;
    }
}
@media (max-height: 575px){
    .first-container,.sec-container{
        height: 530px;
    }
}
