body{
    background-color: rgba(100, 135, 212, 0.1); 
    padding: 0;
}
.body_content{
    padding-left: 51px;
    padding-top: 1px;
    padding-top: 70px;
}
.main_title{
    width: 100%;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.09); 
    /* border-bottom: 1px solid #efefef; */
    box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}
.main_title p{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 80px;
    height: 80px;
}
.body_content>.row{
    margin-right: 0;
    padding: 10px 30px 10px 40px;
}
 
.card{
    margin-bottom: 30px;
    margin-top: 30px;
}
.card .card-header.card-header-icon{
    text-align: right;
    box-sizing: border-box;
}
.card [class*=card-header-] {
    margin: 0 15px;
    padding: 0;
    position: relative;
}
.card-header{
    background-color: #fff;
}
.card .card-icon{
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -25px;
    margin-right: 15px;
    margin-bottom: 25px;
    float: left;
}
.card-header.card-header-icon i{
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    text-align: center;
    color: #fff;
}
.card-header .card-category:not([class*=text-]) {
    color: #999;
    font-size: 14px;
    margin: 0;
    padding-top: 10px;
}
.card-header.card-header-icon .card-title {
    margin: 0;
    padding-top: 10px;
    color: #999;
    font-size: 1.5625rem;
    line-height: 1.4em;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
}
small{
    font-size: 80%;
    font-weight: 400;
    box-sizing: border-box;
}
.card .card-footer {
    padding: 0;
    padding-top: 10px;
    border-top: 1px solid #eee;
    margin: 0 15px 10px 15px;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
}
.card-footer a{
    color: rgb(212, 108, 60);
}
.card .card-footer .stats{
    font-size: 16px;
    color: #999;
    position: relative;
    top: 4px;
}
.card .card-footer .stats i{
    margin-right: 3px;
    margin-left: 3px;
}
.card .card-header-warning .card-icon{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    background: linear-gradient(60deg,#ffa726,#fb8c00);
}
.card .card-header-success .card-icon {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
    background: linear-gradient(60deg,#66bb6a,#43a047);
}
.card .card-header-danger .card-icon{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
    background: linear-gradient(60deg,#ef5350,#e53935);
}
.card .card-header-info .card-icon{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
    background: linear-gradient(60deg,#26c6da,#00acc1);
}
