#main{
    width: 100%;
    height: 100vh;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: 0px;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    transition: initial;
    padding-left: 20px;
    padding-right: 20px;
    
} 
.navbar-collapse{
    margin-right: 0 !important;
}
.logo-icon{
    font-size: 35px !important;
    margin: 0 10px 0 15px;
    height: 50px;
    line-height: 50px !important;
}
.logo{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    line-height: 55px;
    color: rgb(0,188,212) !important;
    float: left;
}
.logo-text span{
    color: #fff;
}
.navbar-nav>li>a{
    padding: 5px 15px !important;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin: 0 8px;
    transition: all ease-in-out;
    transition-duration: 0.4s;
}
.nav-li{
    color: #fff !important;
    text-decoration: none;
}
.nested{
    width: 110px;
}
li:hover .nav-li ul {
    display: block;
}
.navbar-nav li ul{
    display: none;
    position: relative;
    right: 100%;
    width: 200px;
    text-align: right;
}
.navbar-nav li:hover ul{
    display: block !important;
}
.navbar-nav li,.nested-nav li{
    margin-top: 10px !important;
}
.nested-nav{
    list-style-type: none;
}
.nested-nav a{
    line-height: 20px;
    position: relative;
    display: block;
    padding: 5px 15px !important;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin: 0 8px;
    transition: all ease-in-out;
    transition-duration: 0.4s;
}
.nested-nav a:hover{
    text-decoration: none;
    color: rgb(0,188,212) !important;
    background-color: #fff !important; 
    font-weight: bold;
}
.active>a{
    color: rgb(0,188,212) !important;
    background-color: #fff !important;
    font-weight: bold;
}
.navbar-default{
    background-color: transparent !important;
    border-color: transparent !important;
    padding-top: 15px; 
    padding-bottom: 10px;
    transition-duration: 0.6s;
}
.navbar-nav>li>a:hover,.navbar-nav>li>ul>li>a:hover{
    color: rgb(0,188,212) !important;
    background-color: #fff !important; 
    font-weight: bold;
}
.navbar-scroll {
	background: #ffffff !important;
	padding: 5px  0 !important;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4) !important;
	transition-duration: 0.6s !important;
}
.navbar-scroll li a{
    color: #000 !important;
}
.navbar-scroll .active>a{
    color: rgb(0,188,212) !important;
}
.navbar-scroll .logo{
    color: #000 !important;
}
.navbar-scroll .logo-text span{
    color: rgb(0,188,212) !important;
}
.navbar-toggle{
    background-color: #fff !important;
}

/* --------------- navbar complete -------------------- */
.carousel-caption{
    width: 100%;
    text-align: center;
    right: 0 !important;
    left: 0 !important;
    top: 130px;
}
.carousel-caption h1{
    font-size: 50px;
}
.carousel-caption p{
    margin-top: 50px;
}
.btn{
    transition: all 0.6s;
}
/*---------------- top content complete -------------------*/
.cards{
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: #efefef;
    padding: 50px; 
    display: flex;
}
.user,.admin{
    width: 35%;
    height: 300px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4) !important;
}
.line{
    height: 300px;
    line-height: 330px;
    width: 0%;
    border: 2px solid #000;
    margin: 0 auto;
}
.user{
    right: -8%;
}
.admin{
    left: -8%;
}
.line span{
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-left: -30px;
    font-size: 50px;
    border: none;
    background-color: #efefef;
}
/* ---------------------- icon setting ------------------ */
.user p,.admin p{
    font-size: 30px;
}
.user p::before,.user p::after,.admin p::before,.admin p::after{
    content: '';
    height: 1px;
    width: 10vw;
    border-top: 1px solid black;
    display: inline-block;
    padding-top: 0.2em;
    margin-left: 5%;
    margin-right: 5%;
}
/* ------------------ cross section in card --------------------*/
.user div,.admin div{
    position: absolute;
    background-color: rgb(25, 133, 233);
    width: 100%;
    height: 30vh;
    transform: skewY(-15deg);
    bottom: -150px;
    left: 15%;
}
/* ------------- button ----------------- */
.user button,.admin button{
    background: transparent;
    box-shadow: none;
    border: 2px solid rgb(25, 133, 233);
    padding: 10px 20px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all;
    transition-duration: 0.6s;
    letter-spacing: 1px;
}
.user button:hover,.admin button:hover{
    background-color: rgb(25, 133, 233);
    color: #fff;
}

/*----------------- cards complete ----------------*/

/*--------------- what is online test maker start -----------------------*/
.explanation{
    width: 100%;
    padding: 50px;
    padding-top: 30px;
    text-align: center;
}
.explanation h1{
    margin-bottom: 20px;
}
.explanation p{
    padding: 0 30px;
    font-size: 18px;
    line-height: 24px;
    font-family: Merriweather;
    justify-content: center;
}

/*--------------- what is online test maker close -----------------------*/

/*------------------- working contianer -----------------------------*/
.working{
    width: 100%;
    align-items: center;
    padding: 50px;
    padding-top: 0;
    z-index: 100;
}
.working_icons_main{
    display: flex;
}
.working_field{
    margin: 0 auto;    
}
.working_icons{
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 50px;
    background-position: center center;
    background-repeat: no-repeat;
}
.working_field:nth-child(1) .working_icons{
    background-size: 60px;
    background-image: url(../images/2.png);
}
.working_field:nth-child(2) .working_icons{
    background-size: 80px;
    background-image: url(../images/3.png);
}
.working_field:nth-child(3) .working_icons{
    background-size: 60px;
    background-image: url(../images/4.png);
}
.working_field:nth-child(4) .working_icons{
    background-size: 60px;
    background-image: url(../images/5.png);
}
.working_field p{
    text-align: center;
    margin-top: 10px;
}
/*--------------------------- how it works icon complete ------------------------*/

/*--------------------- users start ----------------------*/
.users{
    background-color: #efefef;
    text-align: center;
}
.user_main_heading{
    text-align: center;
    padding: 20px;
    padding-bottom: 10px;
}
.users .container-fluid{
    padding: 30px 0;
    padding-top: 0;
    display: flex;
}
.users .container-fluid div{
    width: 27%;
    min-height: 50px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 0;
}/*------ 3 cards -------*/
.users .container-fluid div span{
    font-size: 300%;
    padding: 10px 0;
}/*-------- icons ---------*/
.users .container-fluid div p{
    padding-top: 10px;
    font-size: 18px;
    line-height: 24px;
    font-family: Merriweather;
    justify-content: center;
}/*-------- content -------*/
/*--------------------- users close ----------------------*/

/*---------------------- features start ------------------------------*/
.features{
    width: 100%;
    min-height: 100px;
    padding: 50px; 
    padding-top: 20px;
}
.features_main_heading{
    text-align: center;
    padding: 20px;
}
.features>div:nth-child(2),.features>div:nth-child(3){
    color: #fff;
    display: flex;
    margin-top: 20px;
}/*----- tow line of cards each contain tow cards -----*/
.features_card{
    width: 40%;
    min-height: 30px;
    background-color: rgb(25,133,233);
    margin: 0 auto;
}/*------ total 4 cards ------*/
.features_card div:nth-child(1),.features_card div:nth-child(2){
    height: 100%;
    float: left;
    box-sizing: border-box;
}/*------ tow divs one for icon and other for content inside card ------*/
.features_card div:nth-child(1){
    width: 20%;
    text-align: center;
    padding-top: 10px;
}/*--------- for icons ---------*/
.features_card div:nth-child(1) span{
    font-size: 50px;
}/*----- icons -----*/
.features_card div:nth-child(2){
    padding: 0 20px 0 10px;
    width: 80%;
}/*----- for content -----*/
.features_card div:nth-child(2) p{
    margin: 20px 0;
    font-size: 18px;
    line-height: 24px;
    font-family: Merriweather;
    justify-content: center;
}
/*-------------------------------- features close ---------------------------*/

/*-------------------------------- demo start ---------------------------------*/
.demo{
    width: 100%;
    padding: 40px !important;
    padding-top: 30px !important;
    background-color: #efefef;
}
.demo_main_heading{
    text-align: center;
}
.demo_main_heading h1{
    margin-bottom: 20px;
}
.demo_main_heading p{
    font-weight: bold;
}
.demo div:nth-child(2){
    display: flex;
    margin-top: 30px;
}
.student_demo,.examiner_demo{
    margin: 0 auto;
    width: 40%;
}
.student_demo h2,.examiner_demo h2{
    text-align: center;
    margin-bottom: 30px;
}
.line_demo{
    border: 2px solid #000;
    background-color: #000;
}
.demo li{
    font-size: 18px;
    line-height: 24px;
    font-family: Merriweather;
    justify-content: center;
    margin-bottom: 5px;
}
.demo ol{
    height: 154px;
}
.student_demo button,.examiner_demo button{
    box-shadow: none;
    border: 2px solid rgb(25, 133, 233);
    padding: 10px 20px;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all;
    transition-duration: 0.6s;
    letter-spacing: 1px;
    width: 80%;
    background-color: rgb(25, 133, 233);
    color: #fff;
}
.student_demo button:hover,.examiner_demo button:hover{
    border: 2px solid rgb(8, 73, 133);
    background-color: rgb(4, 88, 167);
}
/*-------------------------------- demo close ---------------------------------*/
/*-------------------------------- footer start ------------------------------*/
.footer{
    display: flex;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 50px;
    padding-top: 10px;
}
.footer h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 40px;
}
.footer>div{
    width: 30%;
    min-width: 40px;
    margin: 0 auto;
}
.footer ul{
    list-style-type: none;
    padding: 0;
}
.footer ul li{
    margin-top: 10px;
}
.footer_li a{
    display: block;
    color: #fff !important;
    text-decoration: none;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid #fff;
} 
.footer_li a:hover{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0,188,212) !important;
}
.footer>div div{
    display: flex;
    margin-bottom: 20px;
}
.footer>div div span{
    font-size: 20px;
    padding: 0 15px 15px 0;
}
.footer p{
    line-height: 24px;
    font-size: 16px;
}
.footer_btn{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
    background: #f1f1f1;
    text-align: center;
    margin: 8.1px;
	margin-top: 50px;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070;
	color: rgb(25, 133, 233);;
	overflow: hidden;
	position: relative;
	padding: 0;
}
.footer_btn i{
	transition: 0.2s linear;
}
.footer_btn:hover i{
	transform: scale(1.3);
	color: #f1f1f1;
}
.footer_btn::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: rgb(25, 133, 233);;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}
.footer_btn:hover::before{
	animation: button_Animation 0.7s 1;
	top: -10%;
	left: -10%;
}
@keyframes button_Animation {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
    }
}
/*--------------------------------- footer close ---------------------------------*/


@media(max-width:768px){
    h1{font-size: 32px !important;}
}

@media (max-width: 768px){
    .nested{
        width: 100%;
    }
    .navbar-nav li ul{
        position: relative;
        right: 0%;
        width: 100%;
        text-align: left;
    }
    #navbar-scroll {
        background: #ffffff !important;
        padding: 5px  0 !important;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4) !important;
        transition-duration: 0.6s !important;
    }
    #navbar-scroll li a{
        color: #000 !important;
    }
    #navbar-scroll li a:hover{
        color: rgb(0,188,212) !important;
    }
    #navbar-scroll .active>a{
        color: rgb(0,188,212) !important;
    }
    #navbar-scroll .logo{
        color: #000 !important;
    }
    #navbar-scroll .logo-text span{
        color: rgb(0,188,212) !important;
    }
      /*-------------------- navbar close -----------------*/
      /*------------------- top captions -------------------*/
    .carousel-caption h3{
        font-size: 15px;
    }
      /*---------------------- top captions close ------------*/
      /*--------------------- responsive cards start ----------------------*/
    .users .container-fluid{
        display: inherit;
    }
    .users .container-fluid div{
        width: 100%;
    }
    .user h2,.admin h2{
        font-size: 25px;
    }
    .cards{
        padding-left: 0 !important; 
        padding-right: 0 !important; 
    }
    .user{
        right: -5%;
    }
    .admin{
        left: -5%;
    }
    .user div,.admin div{
        bottom: -55%;
    }
    /*--------------------- responsive cards close ---------------------*/
    /*--------------------- features cards start -----------------------*/
    .features_card{
        width: 100%;
        float: left;
        margin-top: 20px;
    }
    .features>div:nth-child(2),.features>div:nth-child(3){
        display: inherit;
    }
    /*--------------------- features cards close -----------------------*/
    /*--------------------- demo start ----------------------*/
    .demo div:nth-child(2){
        display: inherit;
    }
    ol{
        height: auto !important;
    }
    .examiner_demo,.student_demo{
        width: 80%;
    }
    .student_demo button,.examiner_demo button{
        width: 100%;
    }
    .line_demo{
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .student_demo h2,.examiner_demo h2{
        font-size: 25px;
    }
    /*--------------------- demo close ----------------------*/
    /*--------------------- footer start --------------------*/
    .footer{
        display: inherit;
    }
    .footer>div{
        width: 100% !important;
    }
    /*--------------------- footer close ---------------------*/

    .explanation p{
        padding: 0px;
    }
}

@media (max-width: 670px){
    /* ----------------- responsive cards starts --------------- */
    .cards{
        display: block;
    }
    .user,.admin{
        margin: 0 auto;
        right: 0;
        left: 0;
        width: 100%;
    }
    .user h2,.admin h2{
        font-size: 25px;
    }
    .cards{
        padding-left: 50px !important; 
        padding-right: 50px !important; 
    }
    .user div,.admin div{
        bottom: -18%;
        height: 15vh;
    }
    .line{
        width: 100%;
        height: 0;
        border: 2px solid #000;
        margin: 50px auto;
        line-height: 0px;
        text-align: center;
    }
    .line span{
        margin: 0 auto;
        margin-top: -50px;
    }
    /* ----------------- responsive cards close --------------- */
}


@media (max-width: 440px){
    .user div,.admin div{
        bottom: -30%;
        height: 20vh;
    }
}
@media (max-width: 380px){
    .user div,.admin div{
        bottom: -26%;
        height: 17vh;
    }
}