#main{
    width: 100%;
    height: 100vh;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    transition: initial;
} 
.navbar-collapse{
    margin-right: 0 !important;
}
.logo-icon{
    font-size: 35px !important;
    margin: 0 10px 0 15px;
    height: 50px;
    line-height: 50px !important;
}
.logo{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    line-height: 55px;
    color: rgb(0,188,212) !important;
    float: left;
}
.logo-text span{
    color: #fff;
}
.navbar-nav>li>a{
    padding: 5px 15px !important;
    border-radius: 5px;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin: 0 8px;
}
.nav-li{
    color: #fff !important;
}
.navbar-nav li{
    margin-top: 10px !important;
}
.active>a{
    color: rgb(0,188,212) !important;
    background-color: #fff !important;
    font-weight: bold;
}
.navbar-default{
    background-color: transparent !important;
    border-color: transparent !important;
    padding-top: 15px; 
    padding-bottom: 10px;
    transition-duration: 0.6s;
}
.navbar-nav>li>a:hover{
    color: rgb(0,188,212) !important;
    background-color: #fff !important; 
    font-weight: bold;
}
.navbar-scroll {
	background: #ffffff !important;
	padding: 5px  0 !important;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4) !important;
	transition-duration: 0.6s !important;
}
.navbar-scroll li a{
    color: #000 !important;
}
.navbar-scroll .active>a{
    color: rgb(0,188,212) !important;
}
.navbar-scroll .logo{
    color: #000 !important;
}
.navbar-scroll .logo-text span{
    color: rgb(0,188,212) !important;
}
.navbar-toggle{
    background-color: #fff !important;
}

/* --------------- navbar complete -------------------- */
.carousel-caption{
    width: 100%;
    text-align: center;
    right: 0 !important;
    left: 0 !important;
    top: 130px;
}
.carousel-caption h1{
    font-size: 50px;
}
.carousel-caption p{
    margin-top: 50px;
}
.btn{
    transition: all 0.6s;
}
@media (max-width: 768px){
    .carousel-caption h1{
        font-size: 32px;
    }
    .carousel-caption h3{
        font-size: 15px;
    }
}
/*---------------- top content complete -------------------*/
.cards{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #efefef;
    position: absolute;
    top: 100%;
    z-index: 10;
}
.user,.admin{
    float: left;
    width: 35%;
    height: 300px;
    border: 2px solid gray;
}

.cards{
    width: 100%;
    background-color: #efefef;
    padding-top: 50px; 
    display: flex;
}
.user,.admin{
    width: 35%;
    height: 300px;
    border: 2px solid #000;
    text-align: center;
}
.line{
    height: 300px;
    line-height: 330px;
    width: 0%;
    border: 2px solid #000;
    margin: 0 auto;
}
.user{
    position: relative;
    right: -8%;
}
.admin{
    position: relative;
    left: -8%;
}
.line span{
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-left: -30px;
    font-size: 50px;
    border: none;
    background-color: #efefef;
}
.user p,.admin p{
    font-size: 30px;
}
.user p::before,.user p::after,.admin p::before,.admin p::after{
    content: '';
    height: 1px;
    width: 100px;
    border-top: 1px solid black;
    display: inline-block;
    padding-top: 0.2em;
    margin-left: 5%;
    margin-right: 5%;
}